:root {
    --Fontfamily : sans-serif;
}

body {
    padding: 0;
    margin: 0;
}

#container {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-image: url(../img/background.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: local;
    background-repeat: no-repeat;
}

.flex_center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex_row {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.flex_col {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.rel_position {
    position: relative;
    width: 0;
    height: 0;
    top: 0;
    left: 0;
}