#box_content {
    width: 60%;
    height: 100%;
    background-color: #fff;
}
#box_content>div {
    width: 100%;
    height: 25%;
    background-color: transparent;
    gap: 15px;
}

#box_user {
    background-color: transparent;
}
#box_user>input {
    width: 25%;
    height: 50px;
    padding: 0 20px;
    font-family: var(--Fontfamily);
    font-size: 19px;
    color: #000;
    border: 1.5px solid #4f4f4f98;
    border-radius: 12px;
    box-shadow: 0 0 10px #403e4e98;
}
#box_user>span {
    font-family: var(--Fontfamily);
    font-size: 22px;
    color: #000;
}

#box_origin {
    background-color: transparent;
}
#box_origin>select {
    width: 25%;
    height: 50px;
    padding: 0 20px;
    font-family: var(--Fontfamily);
    font-size: 19px;
    color: #000;
    border: 1.5px solid #4f4f4f98;
    border-radius: 12px;
    box-shadow: 0 0 10px #403e4e98;
}
#box_origin>span {
    font-family: var(--Fontfamily);
    font-size: 22px;
    color: #000;
}

#box_content>#box_destination {
    background-color: transparent;
    gap: 5px;
}
#box_destination>select {
    width: 25%;
    height: 50px;
    padding: 0 20px;
    font-family: var(--Fontfamily);
    font-size: 19px;
    color: #000;
    border: 1.5px solid #4f4f4f98;
    border-radius: 12px;
    box-shadow: 0 0 10px #403e4e98;
}
#box_destination>span {
    font-family: var(--Fontfamily);
    font-size: 22px;
    color: #000;
}

#box_btn>button {
    width: 400px;
    height: 50px;
    border-radius: 8px;
    border: none;
    background-color: rgb(76, 76, 235);
    font-family: var(--Fontfamily);
    font-size: 22px;
    font-weight: 600;
    color: #fff;
}